{% extends 'base.html.twig' %}

{% block title %} Jeu - PokéDev{% endblock %}

{% block body %}

<div id="indexMainBody">
    <h1 class="titleH1"> Jeu - PokéDev</h1>

    <div>
        <div> 
            <h2> Votre équipe </h2> 
            <ul>
                {% for pokemon in catch_pokemon %}
                    <li> {{ pokemon }} </li>
                {% endfor %}
            </ul>
            <div> <a href="#"> Changer l'équipe </a> </div>
        </div>
        <div>
            <div>
                <a href="{{ path('app_game_cbt_trainer') }}"> Combat Dresseur </a>
            </div>
            <div>
                <a href="#"> Combat Sauvage </a>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}
