{% extends 'base.html.twig' %}

{% block title %}Edit Bot{% endblock %}

{% block body %}
    <h1>Edit Bot</h1>

    {{ include('admin/bot/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bot_index') }}">back to list</a>

    {{ include('admin/bot/_delete_form.html.twig') }}
{% endblock %}
